code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(135deg, #181f2a 0%, #23293a 100%);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  position: relative;
}



